{% extends "layout.html" %}

{% block heading2 %}
<a href="{{ url_for('admin') }}" >BACK</a>
{% endblock %}

{% block heading %}
    ADD ITEM
{% endblock %}

{% block body %}

    <form method="POST" action = "{{ url_for('addItem') }}  ">

      {{form.csrf_token}}
      {{form.code.label}}
      <br>
      {{form.code}}
      <br>
      <ul>
      {% for error in form.code.errors %}
        <li style="color.red;">{{ error }}</li>
      {% endfor %}
      </ul>
      {{form.name.label}}
      <br>
      {{form.name}}
      <br>
      <ul>
      {% for error in form.name.errors %}
        <li style="color.red;">{{ error }}</li>
      {% endfor %}
      </ul>
      {{form.unit.label}}
      <br>
      {{form.unit}}
      <br>
      <ul>
          {% for error in form.unit.errors %}
              <li style="color:red;">{{ error }}</li>
          {% endfor %}
      </ul>
      {{form.mark_up.label}}
      <br>
      {{form.mark_up}}
      <br>
      <ul>
          {% for error in form.mark_up.errors %}
              <li style="color:red;">{{ error }}</li>
          {% endfor %}
      </ul>
      {{form.selling.label}}
      <br>
      {{form.selling}}
      <br>
      <ul>
      {% for error in form.selling.errors %}
        <li style="color.red;">{{ error }}</li>
      {% endfor %}
      </ul>
      {{form.stocks.label}}
      <br>
      {{form.stocks}}
      <br>
      <ul>
      {% for error in form.stocks.errors %}
        <li style="color.red;">{{ error }}</li>
      {% endfor %}
      </ul>
      <br>
      <input type="submit" name="SUBMIT" value="SUBMIT" >
    </form>


{% endblock %}
</html>
