{% extends "layoutAdmin.html" %}
{% block heading %}
ADMIN PAGE
{% endblock%}
{% block body %}

<form action="{{ url_for('logout') }}" method="POST">
    <input class="btn btn-danger" id="logoutButton" type="submit" name="logout" value="Logout">
</form>

    <form method= 'post' action = "{{ url_for('admin') }}">
      <br>
        <div id = "sidebar">
        <ul>
        <li><a href="#">HOME</a></li>
        <li id= "Account"><a href="#">ACCOUNT</a></li>
        <li id= "Inventory"><a href="#">INVENTORY</a></li>
        <li id= "Purchase"><a href="#">PURCHASE</a></li>
        <li id= "Cashier"><a href="#"> CASHIER SALES</a></li>
        <li id= "Total"><a href="#">TOTAL SALES</a></li>
        </ul>
        </div>

    <div class ="CshAcc">
    <form>
     <h1>CASHIER ACCOUNT</h1>
     <input type = "button" id = "addCsh" name = "Addbtn" value = "Add Cashier" onclick="location.href ='{{ url_for('register') }}';">
      <table cellpadding = "0", cellspacing = "10", border ="0">
     <tr>
     <th>ID</th>
     <th>Name</th>
     <th>Address</th>
     <th>Contact</th>
     <th>Username</th>
     <th>Password</th>
     <th>Action</th>
     </tr>
     {% for cashier in cashierAccount %}
     <tr>
       <td style = "text-align: center, width:150px" >{{ cashier.Cashier_ID }}</td>
       <td style = "text-align: center, width:150px">{{ cashier.Cashier_Name }}</td>
       <td style = "text-align: center, width:150px">{{ cashier.Address }}</td>
       <td style = "text-align: center, width:150px">{{ cashier.Contact_Number }}</td>
       <td  style = "text-align: center, width:150px">{{ cashier.Username }}</td>
       <td  style = "text-align: center, width:150px">{{ cashier.Password}}</td>
      <td><input type = "submit" name = "btnedit" value = "Edit">
      <input type = "submit" name = "btnDel" value = "Delete"></td>
     </tr>
     {% endfor %}
    </table>
    </form>
    </div>

    <div class = "Inventory">
        <form>
        <h1>INVENTORY</h1>
        <input type = "button" name = "addItem" value = "Add Item" onclick="location.href = '{{ url_for('addItem') }}';">
        <table>
        <tr>
        <th>Item Code</th>
        <th>Item Name</th>
        <th>Unit Cost</th>
        <th>Mark-up %</th>
        <th>Selling Price</th>
        <th>Stocks</th>
        <th>Action</th>
        </tr>
       {% for items in item %}
        <tr>
        <td style = "text-align: center, width:150px">{{ items.Item_Code }}</td>
        <td style = "text-align: center, width:150px">{{ items.Item_Name }}</td>
        <td style = "text-align: center, width:150px">{{ items.Unit_Cost }}</td>
        <td style = "text-align: center, width:150px">{{ items.Mark_Up_Percentage }}</td>
        <td style = "text-align: center, width:150px">{{ items.Selling_Price }}</td>
        <td style = "text-align: center, width:150px">{{ items.Stocks }}</td>
        <td><input type = "submit" name = "btnedit" value = "Edit">
        <input type = "submit" name = "btnDel" value = "Delete"></td>
        </tr>
        {% endfor %}
        </table>
        </form>

    </div>
     <div class = "Purchase">
        <form>
        <h1>PURCHASE</h1>
        <input type = "button" id = "addPurchase" name = "Addbtn" value = "Another Purchase?" onclick="location.href = '{{ url_for('purchase') }}';">
        <table>
        <tr>
          <th>Purchase ID</th>
          <th>Supplier ID</th>
          <th>Item Code</th>
          <th>No. of Items Received</th>
          <th>Date</th>
        </tr>
        {% for purchases in purchase %}
        <tr>
          <td style = "text-align: center, width:150px">{{ purchases.Purchase_ID  }}</td>
          <td style = "text-align: center, width:150px">{{ purchases.Supplier_ID }}</td>
          <td style = "text-align: center, width:150px">{{ purchases.Item_Code }}</td>
          <td style = "text-align: center, width:150px">{{ purchases.Item_Name }}</td>
          <td style = "text-align: center, width:150px">{{ purchases.Number_of_Item_Received }}</td>
          <td style = "text-align: center, width:150px">{{ purchases.Date_of_Purchase }}</td>
        </tr>
        {% endfor %}
        </table>
        </form>

    </div>
     <div class = "Cashier">
        <form>
        <h1>CASHIERS' SALES</h1>
        <table>
        <tr><th>ID</th><th>Cashier Name</th><th>Date</th><th>Total Sale</th></tr>
        <tr>
        <td><input type = "text" name = "txt1" disabled = 'disable'></td>
        <td><input type = "text" name = "txt2" disabled = 'disable'></td>
        <td><input type = "text" name = "txt3" disabled = 'disable'></td>
        <td><input type = "text" name = "txt4" disabled = 'disable'></td>
        </tr>
        <tr>
        <td><input type = "text" name = "txt1" disabled = 'disable'></td>
        <td><input type = "text" name = "txt2" disabled = 'disable'></td>
        <td><input type = "text" name = "txt3" disabled = 'disable'></td>
        <td><input type = "text" name = "txt4" disabled = 'disable'></td>
        </tr>
        <tr>
        <td><input type = "text" name = "txt1" disabled = 'disable'></td>
        <td><input type = "text" name = "txt2" disabled = 'disable'></td>
        <td><input type = "text" name = "txt3" disabled = 'disable'></td>
        <td><input type = "text" name = "txt4" disabled = 'disable'></td>
        </tr>

        </table>
        </form>

    </div>

    <div class = "Total">
        <form>
        <h1>TOTAL SALES</h1>
        <table>
        <tr><th>Item Code</th><th>Item Name</th><th>Unit Price</th><th> Qty.</th><th>Amt.</th><th>Cashier Name</th><th>Total Amt.</th><th>Date</th><th>Transaction Code</th></tr>
        <tr>
        <td><input type = "text" name = "txt1" disabled = 'disable'></td>
        <td><input type = "text" name = "txt2" disabled = 'disable'></td>
        <td><input type = "text" name = "txt3" disabled = 'disable'></td>
        <td><input type = "text" name = "txt4" disabled = 'disable'></td>
        <td><input type = "text" name = "txt5" disabled = 'disable'></td>
        <td><input type = "text" name = "txt6" disabled = 'disable'></td>
        <td><input type = "text" name = "txt7" disabled = 'disable'></td>
        <td><input type = "text" name = "txt8" disabled = 'disable'></td>
        <td><input type = "text" name = "txt9" disabled = 'disable'></td>

        </tr>
       <tr>
         <td><input type = "text" name = "txt1" disabled = 'disable'></td>
         <td><input type = "text" name = "txt2" disabled = 'disable'></td>
         <td><input type = "text" name = "txt3" disabled = 'disable'></td>
         <td><input type = "text" name = "txt4" disabled = 'disable'></td>
         <td><input type = "text" name = "txt5" disabled = 'disable'></td>
         <td><input type = "text" name = "txt6" disabled = 'disable'></td>
         <td><input type = "text" name = "txt7" disabled = 'disable'></td>
         <td><input type = "text" name = "txt8" disabled = 'disable'></td>
         <td><input type = "text" name = "txt9" disabled = 'disable'></td>
        </tr>  <tr>
          <td><input type = "text" name = "txt1" disabled = 'disable'></td>
          <td><input type = "text" name = "txt2" disabled = 'disable'></td>
          <td><input type = "text" name = "txt3" disabled = 'disable'></td>
          <td><input type = "text" name = "txt4" disabled = 'disable'></td>
          <td><input type = "text" name = "txt5" disabled = 'disable'></td>
          <td><input type = "text" name = "txt6" disabled = 'disable'></td>
          <td><input type = "text" name = "txt7" disabled = 'disable'></td>
          <td><input type = "text" name = "txt8" disabled = 'disable'></td>
          <td><input type = "text" name = "txt9" disabled = 'disable'></td>

        </tr>  <tr>
          <td><input type = "text" name = "txt1" disabled = 'disable'></td>
          <td><input type = "text" name = "txt2" disabled = 'disable'></td>
          <td><input type = "text" name = "txt3" disabled = 'disable'></td>
          <td><input type = "text" name = "txt4" disabled = 'disable'></td>
          <td><input type = "text" name = "txt5" disabled = 'disable'></td>
          <td><input type = "text" name = "txt6" disabled = 'disable'></td>
          <td><input type = "text" name = "txt7" disabled = 'disable'></td>
          <td><input type = "text" name = "txt8" disabled = 'disable'></td>
          <td><input type = "text" name = "txt9" disabled = 'disable'></td>
        </tr>  <tr>
          <td><input type = "text" name = "txt1" disabled = 'disable'></td>
          <td><input type = "text" name = "txt2" disabled = 'disable'></td>
          <td><input type = "text" name = "txt3" disabled = 'disable'></td>
          <td><input type = "text" name = "txt4" disabled = 'disable'></td>
          <td><input type = "text" name = "txt5" disabled = 'disable'></td>
          <td><input type = "text" name = "txt6" disabled = 'disable'></td>
          <td><input type = "text" name = "txt7" disabled = 'disable'></td>
          <td><input type = "text" name = "txt8" disabled = 'disable'></td>
          <td><input type = "text" name = "txt9" disabled = 'disable'></td>
        </tr>

        </table>
        </form>

    </div>
      </form>
{% endblock%}
