{% extends "layout.html" %}

{% block heading2 %}
<a href="{{ url_for('admin') }}" >BACK</a>
{% endblock %}

{% block heading %}
    PURCHASE FROM SUPPLIER FORM
{% endblock %}


{% block body %}

    <form method="POST" action = "{{ url_for('purchase') }}  ">

      {{form.csrf_token}}
      {{form.purchase_id.label}}
      <br>
      {{form.purchase_id}}
      <br>
      <ul>
      {% for error in form.purchase_id.errors %}
        <li style="color.red;">{{ error }}</li>
      {% endfor %}
      </ul>
      {{form.supplier_id.label}}
      <br>
      {{form.supplier_id}}
      <br>
      <ul>
      {% for error in form.supplier_id.errors %}
        <li style="color.red;">{{ error }}</li>
      {% endfor %}
      </ul>
      {{form.item_code.label}}
      <br>
      {{form.item_code}}
      <br>
      <ul>
          {% for error in form.item_code.errors %}
              <li style="color:red;">{{ error }}</li>
          {% endfor %}
      </ul>
      {{form.item_name.label}}
      <br>
      {{form.item_name}}
      <br>
      <ul>
          {% for error in form.item_name.errors %}
              <li style="color:red;">{{ error }}</li>
          {% endfor %}
      </ul>
      {{form.number.label}}
      <br>
      {{form.number}}
      <br>
      <ul>
      {% for error in form.number.errors %}
        <li style="color.red;">{{ error }}</li>
      {% endfor %}
      </ul>
      {{form.date.label}}
      <br>
      {{form.date}}
      <br>
      <ul>
      {% for error in form.date.errors %}
        <li style="color.red;">{{ error }}</li>
      {% endfor %}
      </ul>
      <br>
      <input type="submit" name="SUBMIT" value="SUBMIT" >
    </form>


{% endblock %}
</html>
